log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
doc/guides/
doc/plugins
doc/models.svg
doc/controllers.svg
doc/machines.svg
db/test.sqlite3
db/development.sqlite3
vendor/gems/*/doc/
vendor/gems/*/rdoc/
vendor/rails
coverage
tags
config/database.yml
